body {
    display:inline-block;

}

h2 {
    margin: auto;
}

aside {
    display:inline-block;

}

span {
    display:inline-block;
    vertical-align: top
}

#searchBox {
    height: 70vh;
    width: 20vw;
    background-color:aquamarine;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#searchBar {
    height: auto;
    border-bottom: 2px solid black;
    margin-bottom: 8px;
}

#searchBar > * {
    margin-bottom: 4px;
}

#searchBar input {
    width: 18vw;
}

#searchBar div {
    text-align: center;
    height: auto;
}

#searchBar div button {
    width: 10vw;
}

.card {
    border: 2px solid black;
    height: auto;
    width: auto;
    background-color: rgb(46, 46, 71);
    color: rgb(218, 218, 218);
    margin: 5px;
    padding: 8px;
}

#recentSearches {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weatherContent {
    height: auto;
    width: 60vw;
    background-color:white;
    margin: 5px;
    border: 2px solid black;
    padding: 8px;
}

#weatherContent > * {
    margin-bottom: 15px;
}

#fiveDayForecast {
    height: auto;
    width: 60vw;
    margin: auto;
    display: flex;
}

#fiveDayForecast > * > * {
    margin-bottom: 10px;
}